header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: var(--azul);
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logoimg{
    width: 8.5em;
    position: absolute;
    top: 1.5rem;
left: 2.5rem;}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: x-large;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 660px) {
    header {height: 20%;}
    #nav_list{display: none;}
    .btn-default {
        margin-right: 3%;
        width: 70%; 
                  padding: 1%}
    }
    .btn-default p{font-size: small;
                  font-weight: 700;
                 
    #logoimg{
        width: 5.8em;
        position: absolute;
        top: 1.5rem;
    }
    header {padding: 3%}
}
